/*Choix de la police d'écriture du site*/
body {
    font-family: cursive;
}
/*Couleur du fond de la partie navigation*/
nav {
    background-color: orangered;
}
/*couleur de texte blanc avec des lignes en bas et en haut du texte lorsqu'on le survole avec la souris*/
.LienNavbar:hover {
    color: white;
    text-decoration: underline overline;
    text-underline-offset: 10px;
}
/*Edition de la couleur primaire du site*/
.CouleurPrimaire {
    color: orangered;
}
/*Texte blanc lorsqu'on survole les liens autres que les liens navigation*/
.AutresLien:hover {
    color: white;
}
/*Alignement du texte au centre de la page*/
.pDescription {
    text-align: center;
}
/*Edition de la couleur primaire du fond du site*/
.BgPrimaire {
    background-color: orangered;
}
/*Texte de couleur noir*/
.TextNoir {
    color: black;
}